{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>
  <div class="tree">
    <ul>
      <li><i class="fa fa-folder-open"></i> Non-Technical Skills
        <ul>
          <li><i class="fa fa-folder-open"></i> Most relevant <span>- 15kb</span>
            <ul>
              <li><i class="fa fa-graduation-cap"></i> Educator</li>
              <li><i class="fa fa-book"></i> Desire to Learn</li>
              <li><i class="fa fa-thumbs-up"></i> Hard-working</li>
              <li><i class="fa fa-hourglass-start"></i> Logical thinker</li>
            </ul>
          </li>
          <li><i class="fa fa-folder"></i> Other skills <span>- 420kb</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section><!--//skills-section-->
{% endif %}
